<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Restuarant Admin</title>
    <% include("./layout/css.html"){} %>
    <link rel="stylesheet" href="${ctxPath}/assets/css/login.css"/>
    <script>
        if (window != top)
            top.location.replace(location.href);
    </script>
</head>
<body>
<div class="login-wrapper">

    <div class="login-header">
        <img src="${ctxPath}/assets/images/logo.png"> Restaurant Admin
    </div>

    <div class=" login-body">
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-engine"></i>&nbsp;&nbsp;User Login
            </div>
            <form class="layui-card-body layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-username"></i></label>
                    <div class="layui-input-block">
                        <input name="username" type="text" class="layui-input" placeholder="Username"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i></label>
                    <div class="layui-input-block">
                        <input name="password" type="password" class="layui-input" placeholder="Password"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i class="layui-icon layui-icon-vercode"></i></label>
                    <div class="layui-input-block">
                        <div class="layui-row inline-block">
                            <div class="layui-col-xs7">
                                <input name="code" type="text" class="layui-input" placeholder="Captcha"
                                       autocomplete="off" lay-verType="tips" lay-verify="required" required/>
                            </div>
                            <div class="layui-col-xs5" style="padding-left: 10px;">
                                <img class="login-captcha" src="${ctxPath }/assets/captcha">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button lay-filter="loginSubmit" class="layui-btn layui-btn-fluid" lay-submit>login</button>
                </div>
            </form>
        </div>
    </div>

    <div class="login-footer">
        <p>© 2020 <a href="#" target="_blank">Cao Zheng</a></p>
    </div>
</div>


<% include("./layout/js.html"){} %>
<script>
    layui.use(['layer', 'form', 'index'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var index = layui.index;

       
        form.on('submit(loginSubmit)', function (obj) {
            layer.load(2);
            $.post('login', obj.field, function (res) {
                if (200 == res.code) {
                    layer.msg('login successfully', {icon: 1, time: 1500}, function () {
                        index.clearTabCache();
                        location.replace('./');
                    });
                } else {
                    layer.closeAll('loading');
                    layer.msg(res.msg, {icon: 5});
                    // $('.login-captcha').trigger('click');
                }
            }, 'JSON');
            return false;
        });

        $('.login-captcha').click(function () {
            this.src = this.src + '?t=' + (new Date).getTime();
        });
    });
</script>
</body>
</html>